body {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  font-size: 25px;
  line-height: normal;
  color: #000000;
  font-family: 'Open Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 52px;
}

h3 {
  font-size: 35px;
  font-weight: 300;
}

h4 {
  font-size: 27px;
  font-weight: 300;
}

.logo {
  width: 50px;
  height: 50px;
}

.navigation {
  background-color: #c47179;
}

header .navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

ul.navigation {
  list-style-type: none;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav ul li {
  margin: 0 20px;
}

div.container {
  padding-top: 200px;
  padding-bottom: 200px;
}

.to-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.left {
  width: 1100px;
  padding-left: 50px;
  padding-right: 50px;
}

.right {
  text-align: right;
  padding-left: 50px;
  padding-right: 50px;
}

.center {
  width: 1100px;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

ul.container {
  width: 500px;
}

img {
  width: 500px;
  height: 500px;
}

img.small {
  width: 200px;
  height: 200px;
}

.round {
  border-radius: 100px;
}

.quote {
  font-style: italic;
}

.elegant {
  font-family: 'Playfair Display', serif;
}

.main-block {
  background-color: #f3bac3;
}

.mission-block {
  background-color: #d3c9c4;
}

.faculties-block {
  background-color: #a4e6f4;
}

.study-block {
  background-color: #6998a3;
}

.diversity-block {
  background-color: #d3c9c4;
}

.future-block {
  background-image: url("../img/smth_background_tg.jpg");
  background-size: cover;
  font-weight: 500;
  /* background-color: #c47179; */
}

.footer-block {
  background-image: url("../img/background_footer_new.jpg");
}
